<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>
    
    <iisnode 
      nodeProcessCommandLine="node --experimental-specifier-resolution=node"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="iisnode"
    />
    
    <rewrite>
      <rules>
        <rule name="app">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.cjs" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Custom error pages -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>